/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color: rgba(5, 53, 121, 0.731); /* Azul claro con 70% de opacidad */
    border: 2px solid rgb(34, 1, 180); /* Estilo de borde como el de Lisa */
}

#c2 {
    background-color: rgba(252, 158, 6, 0.478); /* Amarillo claro con 60% de opacidad */
    border: 2px solid rgb(255, 132, 0);
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 50%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */

/* --- Ajustes de texto --- */
h2 {
    font-size: 22px;
    color: #ffffff;
}

#c1 p, #c1 li {
    font-size: 13px; /* El texto de la columna izquierda suele ser más pequeño */
}

#c2 p {
    font-size: 15px; /* El texto principal un poco más grande */
}


body {
    /* Ruta de tu imagen */
    background-image: url(fondo3.jpg); 
    
    /* Centrar la imagen y que no se repita */
    background-repeat: no-repeat;
    background-position: center;
    
    /* Que la imagen cubra toda la pantalla o se quede fija al hacer scroll */
    /*Si quiero que se ajuste pongo 50% en size y el otro lo quito */
    background-size: cover; 
    background-attachment: fixed;
}