body {
    margin: 0;
    background-color: #020205;
    color: #ff0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    border: 2px solid #fff700;
    box-shadow: 0 0 15px #ccff0055;
    background: #000;
    max-width: 100vw;
    max-height: 80vh;
}